{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ task.title }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p class="text-muted pull-right">Crée le {{ task.createdAt|date('d/m/Y') }} par
        {% if task.owner is not null %}
            {{ task.owner.username }}
        {% else %}
            {{ constant('App\\Entity\\Task::ANONYMOUS_TASK') }}
        {% endif %}
    </p>
    {{ include('task/_form.html.twig', {
        action: path('task_edit', { 'id' : task.id }),
        btn_text: 'Modifier'
    }) }}
{% endblock %}
