{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user') }}
{% endblock %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block actions %}
    <a href="{{ path('user_create') }}" class="btn btn-info">Créer un utilisateur</a>
{% endblock %}

{% block body %}
    {% if users %}
        <table id="user-table" class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom d'utilisateur</th>
                <th>Adresse d'utilisateur</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {{ (user.isAdmin) ? constant('App\\Entity\\User::ROLES')['ROLE_ADMIN'] : constant('App\\Entity\\User::ROLES')['ROLE_USER'] }}
                    </td>
                    <td>
                        <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% if is_granted('USER_DELETE', user) %}
                            <a data-href="{{ path('user_confirm_delete', {'id' : user.id}) }}" class="js-user-delete btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning no_user" role="alert">
            Il n'y a pas encore d'utilisateur enregistré.
        </div>
    {% endif %}
    <div id="user__modal"></div>
{% endblock %}
